select {
	background-color: #735887;

	font-family: courier, monospace;
	font-variant: small-caps;
	font-weight: bold;
	font-size: large;

	color: white;
	border-radius: 25px;
	padding: 20px;
	width: 200px;
	height: 75px;
}

option:nth-child(1) {
	color: #4b3766;
	text-align: center;
}

option:nth-child(4), option:nth-child(5) {
	color: #4b3766;
}
