body {
    background-image: url("https://noisypixel.net/wp-content/uploads/2023/12/koromaru.webp");
    margin: 0;
}

#empty {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#empty p {
    color: white;
    text-align: center;
}