body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: large;
    font-weight: bold;

    background-color: rgb(63, 19, 26);
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    min-width: 200px;
    max-width: 90%;
    padding: 10px;
    margin: 5px;
    color: rgb(63, 19, 26);

    word-wrap: break-word;

    background-color: beige;
    border-radius: 8px;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: large;
    font-weight: bold;

    height: 40px;
    width: 100px;
    display: block;
    margin: auto;

    background-color: rgb(228, 228, 204);
    border-radius: 8px;
}

li:hover, button:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

li:active, button:active {
    background-color: rgb(207, 180, 162);
}