div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: white;
    background-color: rgb(88, 85, 100);

    border-radius: 20px;
    border: none;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: bold;

    width: 300px;
    height: 100px;
}

button:hover {
    background-color: rgb(128, 128, 145);
    cursor: pointer;
}

button:active {
    background-color: rgb(54, 54, 61);
}