table, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	width: 100%;
	height: 100%;
}

td {
	width: 50%;
	height: 50%;
}

td:nth-child(odd) {
	background-color: #f5b3b3;
}

td:nth-child(even) {
	background-color :#b3ddf5;
}
